[defaults]
callbacks_enabled = timer, profile_tasks, profile_roles
forks = 50
gathering = smart
interpreter_python = auto_silent
inventory = inventories/production/
pipelining = True
remote_user = root
roles_path = roles
stdout_callback = default
timeout = 10
use_persistent_connections = True

[ssh_connection]
pipelining = True
retries = 2
ssh_args = -o ControlMaster=auto -o ControlPersist=120s -o LogLevel=ERROR -o Compression=yes

[persistent_connection]
command_timeout = 60
connect_timeout = 60

